In [30]:
## Imports

import pandas as pd
import io
import matplotlib.pyplot as plt
import time
from sklearn.metrics import roc_auc_score

import re
import string
import nltk
import itertools
import numpy as np

# this allows you to apply a progress bar to pandas operations
from tqdm import tqdm
tqdm.pandas()

In [11]:
sample = ["among", "us", "imposter", "kdhals dkjfks", "aksskk"]
scores = [1, 0.5, 1, 1, 1]
targets = ["among us"]
for target in targets:
    print(target)

among us

In [12]:
import nltk

In [13]:
max_score = 0

for sample_text in sample:
    for target in targets:
        edit_distance = nltk.edit_distance(target, sample_text)
        print("\n edit_distance:", edit_distance)
        closeness = (len(target)-edit_distance)/len(target)
        print("closeness:", closeness)
        final_score = closeness * 1

 edit_distance: 3
closeness: 0.625

 edit_distance: 6
closeness: 0.25

 edit_distance: 7
closeness: 0.125

 edit_distance: 11
closeness: -0.375

 edit_distance: 7
closeness: 0.125

In [16]:
new_text = " ".join(sample)
print(new_text)

among us imposter kdhals dkjfks aksskk

In [ ]:
# funcion to change A into B 
A = [["among us", "garbage dfsd", "kdhalq"], [0.8, 0.2, 0.1]]
B = [["among", "us", "garbage", "dfsd", "kdhalq"], [0.8, 0.8, 0.2, 0.2, 0.1]]

In [38]:
import pandas as pd
words_scores = [[["among", "us", "garbage", "kdhalq"], [0.8, 0.2, 0.1]],
               [["imposter", "umongs", ",.mczxvn,"], [0.9, 0.6, 0.1]]]
test_df = pd.DataFrame()
test_df["words_scores"] = words_scores
test_df

                                       words_scores
0   [[among, us, garbage, kdhalq], [0.8, 0.2, 0.1]]
1  [[imposter, umongs, ,.mczxvn,], [0.9, 0.6, 0.1]]

In [34]:
# helper functions for funal scoring function

def advance(iterator, step):
    next(itertools.islice(iterator, step, step), None)

def tuplewize(iterable, size):
    iterators = itertools.tee(iterable, size)
    for position, iterator in enumerate(iterators):
        advance(iterator, position)
    return zip(*iterators)

In [36]:
def get_final_score(row):
    sample_list = row["words_scores"][0]
    score_list = row["words_scores"][1]
    max_score = 0
    
    for target in targets:
        phrase_length = len(target.split())
        for c, s in zip(tuplewize(sample_list, phrase_length), tuplewize(score_list, phrase_length)):
            new_sample = " ".join(c)

    return max_score

test_df["OCR_score"] = test_df.apply(get_final_score, axis=1)
test_df

among us
('among', 'us')
(0.8, 0.8)
us garbage
('us', 'garbage')
(0.8, 0.2)
garbage kdhalq
('garbage', 'kdhalq')
(0.2, 0.1)
imposter umongs
('imposter', 'umongs')
(0.9, 0.6)
umongs ,.mczxvn,
('umongs', ',.mczxvn,')
(0.6, 0.1)

                                        words_scores  OCR_score
0  [[among, us, garbage, kdhalq], [0.8, 0.8, 0.2,...          0
1   [[imposter, umongs, ,.mczxvn,], [0.9, 0.6, 0.1]]          0

In [ ]:
# define function to produce final scores

def get_final_score(row):
    sample_list = row["words"][0]
    score_list = row["words"][1]
    max_score = 0
    
    for target in targets:
        phrase_length = len(target.split())
        for c, s in zip(tuplewize(sample_list, phrase_length), tuplewize(score_list, phrase_length)):
            new_sample = " ".join(c)
            edit_distance = nltk.edit_distance(target, new_sample)
            closeness = (len(target)-edit_distance)/len(target)
            confidence_score = np.mean(s)
            final_score = closeness * confidence_score
            if final_score > max_score:
                max_score = final_score
             
    return max_score